Set Assignments:

1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
for e in sampleList:
  sampleSet.add(e)
print(sampleSet)

{'Blue', 'Orange', 'Yellow', 'orange', 'Green', 'Black', 'Red'}

2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1={10, 20, 30, 40, 50}
set2={30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [ ]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
resultset=set1.difference(set2)
l1=set2.difference(set1)
for e in l1:
  resultset.add(e)
print(resultset)

{100, 70, 10, 20, 25, 60}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [ ]:
set1={10, 20, 30, 40, 50}
set2 ={30, 40, 50, 60, 70}
set1^=set2
print(set1)

{20, 70, 10, 60}

5. Update set1 by adding items from set2,
except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1^=set2
print(set1)

{20, 70, 10, 60}

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [ ]:
sentence=input("Enter a sentence . Word are space separated  : ")
word_list=sentence.split()
unique_word=set(word_list)
print(unique_word)

Enter a sentence . Word are space separated  : l
{'l'}

In [ ]:
d1={1:90,2:87,3:89,4:95,5:90}
d1.setdefault(5)  #
d1.setdefault(5, 28)
d1.setdefault(9,50)# if elemenr is not present inside
print(d1)

{1: 90, 2: 87, 3: 89, 4: 95, 5: 90, 9: 50}

Tuple Assignments

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [ ]:
T=(10, 20, 30, 40, 50,60)
n=T[::-1]
print(n)
print(tuple(reversed(T)))

(60, 50, 40, 30, 20, 10)
(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [ ]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])
bTuple = (10, 20, 30, 40)
a,b,c,d=bTuple
print(a,b,c,d)

20
10 20 30 40

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [ ]:
t1=(11, 22)
t2 =(99, 88)
t1,t2=t2,t1
print("t1 : ",t1)
print("t2 : ",t2)

t1 :  (99, 88)
t2 :  (11, 22)

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[-3:-1]
print(tuple2)

(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [ ]:
a=10
b=23
a,b=b,a
print(a,b)

temp=b
b=a
a=temp
print (a,b)

23 10
10 23

**Dictionary Assignments**

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
Your task in this exercise is to implement an encoder/decoder of ROT-13. Once you're done, you will be able to read the following secret message:
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [ ]:
d={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
str1="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
for i in str1:
  if i==" " or i=="?" or i=="!":
    print(i,end="")
  else:
    print(d[i],end="")
print()


#list comprehension
l1=[ele if ele==" " or ele=="?" or ele=="!"   else d[ele]  for ele in str1  ]
s="".join(l1)
print(s)

#other method
new_mess=""
for chr in str1:

  if chr.isalpha():
    new_char = d[chr]
    new_mess = new_mess+new_char
  else:
    new_mess=new_mess+chr
print(new_mess)

Caesar cipher? I much prefer Caesar salad!
Caesar cipher? I much prefer Caesar salad!
Caesar cipher? I much prefer Caesar salad!

2.Given a dictionary of students and their favourite colours:

people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}

a. Find out how many students are in the list
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour

In [ ]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}

c=people.keys()
print("students are in the list : ",len(c))
people.update(Lisa="red")
print(people)
people.pop('Jenny')
print(people)

students are in the list :  4
{'Arham': 'Blue', 'Lisa': 'red', 'Vinod': 'Purple', 'Jenny': 'Pink'}
{'Arham': 'Blue', 'Lisa': 'red', 'Vinod': 'Purple'}

3. Write a menu driven program to practice Dictionary functions.
Write a program to accept name of a person and their vehicle and store it in a dictionary.

Ask user if they want to continue to accept multiple values.
Display following menu:

a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.

----Accept person name from user.

----Check whether person name exists in the dictionary.

----If exists show person name and vehicle name to the user.

----Confirm for deletion,
 if user enters y then delete otherwise no. Display appropriate message.

c. Modify vehicle name for the person

----Accept a person name from user.

----Check whether the person’s name exists.

----If the name exists, show the person’s name and vehicle name to user.

Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.

e. Search list of people, who have given a vehicle

f. Display all person names.
g. Display all vehicle names.
h. Exit

In [11]:
d={}
print("""1). Add new person name and a vehicle name.
    2). Delete a person name and vehicle name from the dictionary.
    3). Modify vehicle name for the person
    4). Search vehicle for the given person’s name.
    5). Search list of people who has given a vehicle
    6). Display all person names
    7). Display all
    0). Exit""")
while True:
  choice=int(input('Enter a number '))
  match choice:
    case 0:
      break;
    case 1:
      pname=input('Enter Name')
      vname=input('Enter vechicle Name')
      d[pname]=vname
      if vname=="":
        d[pname]=None
    case 2:
      name=input('Enter Name')
      if name in d:
        confirm=input("Enter Y to confirm delete action otherwise N")
      if  confirm=='Y' or confirm=='f':
        d.pop(name)
      else:
        print("You confirmed not to delete user")
    case 3:
      name=input('Enter Name')
      if name in d:
        print(name,d[name])
        vehicle=input("Enter new vehicle name")
        d[name]=vehicle
    case 4:
      name=input('Enter Name')
      print(name,d[name])
    case 5:
      l1=[]
      for key in d:
        if d[key]==None:
          a=1
        else:
          print(key)
          l1.append(key)
      print(l1)
    case 6:
      print(list(d))
      #otherway
      print(list(d.keys()))
    case 7:
      print(list(d.values()))


print (d)

1). Add new person name and a vehicle name.
    2). Delete a person name and vehicle name from the dictionary.
    3). Modify vehicle name for the person
    4). Search vehicle for the given person’s name.
    5). Search list of people who has given a vehicle
    6). Display all person names
    7). Display all
    0). Exit
Enter a number 1
Enter NameAtharv
Enter vechicle NameNano
Enter a number 4
Enter NameAtharv
Atharv Nano
Enter a number 3
Enter NameAtharv
Atharv Nano
Enter new vehicle nameDzier
Enter a number 1
Enter NameSoham
Enter vechicle NameTata Punch
Enter a number 1
Enter NameAditya
Enter vechicle Name
Enter a number 2
Enter NameAditya
Enter Y to confirm delete action otherwise NY
Enter a number 6
['Atharv', 'Soham']
['Atharv', 'Soham']
Enter a number 7
['Dzier', 'Tata Punch']
Enter a number 1
Enter NameGanesh
Enter vechicle Name
Enter a number 5
Atharv
Soham
['Atharv', 'Soham']
Enter a number 0
{'Atharv': 'Dzier', 'Soham': 'Tata Punch', 'Ganesh': None}

 Write a program to display following menu and do the following:

a. Add new city and trees commonly found in the city.

b. Display all cities and the list of trees for all cities.

c. Display list of trees of a particular city.

 ---- Accept a city from user search city and if found display list of trees otherwise
  
---- Display message not found d. Display cities which have the given tree.

---- Accept a tree name from user and display all cities in which the tree is found. e. Delete city

 ---- Accept city from user and delete the city if found.

---- Prompt user before deletion

f. Modify tree list

---- Accept city and trees to be added in the city. if city exist add trees at the end of the list  
---- Otherwise add city and list g. Exit

In [12]:
dist={}

In [14]:
print("""
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
d. Display cities which have the given tree.
e. Delete city ---- Accept city from user and delete the city if found
f. Modify tree list ---- Accept city and trees to be added in the city.
g. Exit""")
while True:
    case1 = input()
    match case1:
        case 'a':
            city= input("City Name:- ")
            trees = input("Commonly Found tree name:- ")
            trees.split(" ")
            dist[city]=trees
        case 'b':
            print(dist.items())
        case 'c':
            city= input("Enter City Name to get Tree name:- ")
            print(dist.get(city))
        case 'd':
            trees= input("Enter Tree name:- ")
            for k,v in dist.items():
                      if  trees in v:
                            print("City having given tree is ",k)
        case 'e':
            city= input("Enter City Name to Delete:- ")
            if city in dist:
                print(dist.pop(city))
        case 'g':
            break
            print("Exited")

a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
d. Display cities which have the given tree.
e. Delete city ---- Accept city from user and delete the city if found
f. Modify tree list ---- Accept city and trees to be added in the city.
g. Exit
a
City Name:- Satara
Commonly Found tree name:- Neem

b
dict_items([('Satara', 'Neem')])
a
City Name:- Nagpur
Commonly Found tree name:- Oranges
c
Enter City Name to get Tree name:- Satara
Neem
d
Enter Tree name:- Oranges
City having given tree is  Nagpur
e
Enter City Name to Delete:- Nagpur
Oranges
f
g