1. Write function which takes two parameters account no and name of the user.
Check if the account number is valid. Account no is valid only if it is a 4 digit number less than 5000
Check if the name is valid. Name is valid if all characters are alphabets and no numbers or special chars in the name
If both name and 'acc no' are valid return True
If acc no is invalid return a message string saying “Account no is invalid”
if name is invalid return None

In [ ]:
def ac_name(acno,name):
  '''Acc_No: number , name:string'''
  if len(str(acno))==4 and acno<5000:
    if name.isalpha():
      #print('acc_no ',ac_no,'and name',name,'is valid')
      return True
    else:
      return None
  else:
    return "Account no is invalid"
ac_name(200,'Ganesh')

'Account no is invalid'

2 WA function to calculate total salary given that
1. post      2. basic salary
rules:
post can be manager or employee
total sal = basic + TA + HRA
TA = 5000 for 'manager'
and TA = 10,000 for 'employee'
HRA = 20,000 for 'manager' and HRA = 12,000 for 'employee'

return total salary based on two parameters

In [ ]:
def total_sal(post,sal):
  if post=='Manager':
    TA=5000
    HRA=20000
    sal=sal+TA+HRA
    return post+" total salary: "+str(sal)
  elif post=='employee':
    TA=10000
    HRA=12000
    sal=sal+TA+HRA
    return post+" total salary: "+str(sal)
  else:
    return "Enter correct post"

total_sal('Manager',100000)

'Manager total salary: 125000'

3.  WA function to rotate given string by 2 position to right

Ex.
s1=”IACSD”
Rotate by 2 place to right
“SDIAC”

In [ ]:
def pos3(s):
  if len(s)<=2:
    return 'ENTER STRING WITH MORE THAN 2 CHARATER'
  else:
    return s[-2:]+s[:-2]
#pos3('sd')
pos3('iacsd')

'sdiac'

4.  Generalize above function to rotate string to right by n

In [ ]:
def pos4(s,n):
      return s[-n:]+s[:-n]
#pos3('sd')
pos4('iacsd',3)

'csdia'

6. WAP to count number of passengers in every airline. Here we are given dictionary of passanger id and airline id


Ex
input_dir ={'p1':'a1','p2':'a10','p89':'a1','p5':'a10'}
output: {'a1':2, 'a10':2}

7. given a list of strings.

every string is in format "Emp_name:Emp_id"
Emp_id is always a number

if emp_id is amstrong number then rotate emp_name 1 place to the right --> and print the emp_name

if emp_id is a prime no then print vowels from the employee name
in other cases print consonents from the emp name
Finally there should be print of every employee name as per given condition

In [ ]:
import sympy

def example7(l):
  sum=0
  for i in l :
    l1=i.split(':')
    #amstrong checker
    n=len(l1[0])
    l2=[int(x) for x in l1[0]]
    str1=l1[1]
    for j in l2:
      sum=sum+(j**n)
    if sum==int(l1[0]):
      print(l1[0]," is a amstrong number")
      print(str1[-1]+str1[:-1])
    elif sympy.isprime(int(l1[0])):
      l3=[x for  x in str1 if x in 'aeiou']
      print(l3)
    else:
      l4=[]
      l3=[x if x in 'aeiou' else l4.append(x) for  x in str1 ]
      print(l4)
list1=['153:Atharv','103:Ganesh','127:Aditya','144:Soham','121:Ajinkya']
example7(list1)

153  is a amstrong number
vAthar
['a', 'e']
['i', 'a']
['S', 'h', 'm']
['A', 'j', 'n', 'k', 'y']

8. Write a function which takes all details of a person as input in sequence and prints details as follows

(Hint: Think which type of parameter to be used for every option)

*   Take name and Print it in Camel Case

*   Take 10 digit Mobile No and print it appending +91
*   Take location as optional value. If not given then print Indi


*   Take Qualifications. Qualifications can be 1 or 2 or many.

Print all the passed qualifications one by one. Default qualification is "Human"

In [ ]:
def person_details(name,mbno,location='INDIA',*args):
  print("Name: ",name.title())
  mb='+91'+str(mbno)
  print("Mobile Number : "+str(mb))
  print("Location: ",location)
  if not args:
    print('Qualification: Human')
  else:
    for i in args:
      print("Qualification: "+i)
name=input("Enter a Name")
mbno=int(input("Enter a Mobile number"))
loc=input("Enter location")
if loc=='':
  person_details(name,mbno)
else:
  person_details(name,mbno,loc,'10th','12th','BE.Mech')

Enter a NameAtharv girish bajare
Enter a Mobile number9970710756
Enter location
Name:  Atharv Girish Bajare
Mobile Number : +919970710756
Location:  INDIA
Qualification: Human

In [ ]:
def person_details(name,mbno,location='INDIA',*args):
  print("Name: ",name.title())
  mb='+91'+str(mbno)
  print("Mobile Number : "+str(mb))
  print("Location: ",location.title())
  if not args:
    print('Qualification: Human')
  else:
    for i in args:
      print("Qualification: "+i)
name=input("Enter a Name : ")
mbno=int(input("Enter a Mobile number : "))
loc=input("Enter location : ")
if loc=='':
  person_details(name,mbno)
else:
  person_details(name,mbno,loc,'10th','12th','BE.Mech')

Enter a Name : soham ulmale
Enter a Mobile number : 9988776655
Enter location : pune akurdi
Name:  Soham Ulmale
Mobile Number : +919988776655
Location:  Pune Akurdi
Qualification: 10th
Qualification: 12th
Qualification: BE.Mech

9. Create a function "cloth_details" with three arguments, color, shape and size. All three are optional and can be passed in any sequence by the user.

In [ ]:
def cloth_details(*,color='Orange',shape='T-shirt',size='xl'):
  print(color,shape,size)
cloth_details(color='Black',size='L',shape='Shirt')

Black Shirt L

10. Create a calculator.py file
Create add(), subtract(), multiply(), divide(), power(), log() functions

Create a menu driven program to take values and operation as input from user and print result using these functions

Take ONLY integer inputs from user. If its not an integer then give Error message -> "WRONG Input: Please enter ONLY integer value"

Your program should not give "ValueError" while using int() function for any input from below, It should display YOUR error message
Enter a number : 10
Enter a number : 10.9
Enter a number : ABC
(Hint: Think about methods from string data type to check input as integer)

In [1]:
def cal(num1,num2):
    if (num1.isdigit()) and (num2.isdigit()):
      num1=int(num1)
      num2=int(num2)
    else:
      return("WRONG Input: Please enter ONLY integer value")
    print("Enter choice \n 1.add \n 2.subtract \n 3.multiply \n 4.divide \n 5.power \n 6.log")
    choice=input("Enter your choice")
    var1=choice1(num1,num2,choice)
    return var1

def choice1(a,b,c):
  import math
  match c:
    case "1":
      return a+b
    case "2":
      return a-b
    case "3":
      return a*b
    case "4":
      return a/b
    case "5":
      return a**b
    case "6":
      return math.log(a,b)
    case _:
      return "Wrong choice entered"
number=input("Enter the number 1 :")
number2=input("Enter the number 2 :")
var=cal(number,number2)
print(var)

Enter the number 1 :102
Enter the number 2 :12
Enter choice
 1.add
 2.subtract
 3.multiply
 4.divide
 5.power
 6.log
Enter your choice6
1.8612259795267763

11. Write a function which finds average of given arguments. Minimum it takes two parameters and maximum it can take any number of arguments.
Finally it should return average of all arguments passed

Ex. avg(10,12)  return value 11
avg(3,4,5)  return value 4
avg(1,2,3,4,5,6,7,8,9,10) return value 5.5
Extra case
avg(1,2,avg(4,5,6)) return value 2.667 (roughly 8/3)

In [5]:
def avg1(*args):
  avg=sum(args)/len(args)
  return avg
var=avg1(10,12)
print("Average is : ",var)
var=avg1(3,4,5)
print("Average is : ",var)
var=avg1(1,2,3,4,5,6,7,8,9,10)
print("Average is : ",var)
var=avg1(1,2,avg1(4,5,6))
print("Average is : ",var)

Average is :  11.0
Average is :  4.0
Average is :  5.5
Average is :  2.6666666666666665